html {
    scroll-behavior: smooth !important;
  }
/* style for social media icons */
.social-icon-set a{
    text-decoration: none;
    color: rgb(88, 84, 84);
    }
.social:hover{
    color:orange;
    transform: scale(2.2,2.2);
    }
.social-footer{
    font-size: 30px;
    color: gray;
    padding: 25px;
    border-style: solid;
    border-radius: 50px;
    border-width:3px;
    border-color: gray;
}
.social-footer:hover{
    background-color:gray;
    color:#2d3e50;
}
.footer{
    background-color: #2d3e50 !important;
}
#contact{
    background-image: url("../img/contact_background.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    border: 0 !important;
}
/*sponsor logo*/
    .sponsor{
        max-height: 3rem;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 5px;
    }

    /*for count*/
    #value {
        font-size: 2.5rem;
    }

    /*for executive cards*/
    .card-width{
        width: 12rem;
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ecards{
        height: 8rem;
        margin-bottom: 1rem;
    }

    @media only screen and(min-width:768px){
        .sponsor{
            min-width: 3rem;
        }

        #sidecontainer{
            display: none;
        }

        .maintopic{
            font-size: 2rem;
        }
        .subtopic{
            font-size: 1rem;
        }
      }
