.timeline{
    position:relative;
    margin:50px auto;
    padding:40px 0;
    width:1000px;
    box-sizing:border-box;
}
.timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
}
.timeline ul{
    padding:0;
    margin:0;
}
.timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
}
.timeline ul li:nth-child(even){
    float:left;
    text-align:right;
    clear:both;
}
.timeline ul li:nth-child(odd){
    float:right;
    text-align:left;
    clear:both;
}

.timeline .tl-card{
    border-radius: 20px;
    border: none;
    padding: 1em;
    /*box-shadow: 5px 10px 25px -5px #bbbbbb;*/
    text-align: center;
    max-width: 420px;
    min-width: 210px;
    /*background-color: #010A2D;*/
}
.tl-card-text h3{
    font-size: 22px;
}

/* .content{
    padding-bottom:10px;
} */

.timeline .content img{
    max-height: 380px;
    border-radius: 10px;
}

.timeline .content a{
    color: black !important;
    background-color: #f9cc56 !important ;
    margin: 0.6em;
}

.timeline ul li:nth-child(even):before{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:rgba(233,33,99,1);
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(odd):before{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:rgba(233,33,99,1);
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
    padding:0;
    margin:0;
    color:rgba(233,33,99,1);
    font-weight:600;
}
.timeline ul li p{
    margin:10px 0 0;
    padding:0;
}
.timeline ul li .time h3{
    margin:0;
    padding:0;
    font-size:14px;
    color:rgb(248, 248, 248);
    text-transform: uppercase;
}

.timeline ul li:nth-child(even) .time{
    text-align: center;
    min-width: 100px;
    position:absolute;
    top:12px;
    right:-125px;
    margin:0;
    padding:8px 16px;
    background:rgba(233,33,99,1);
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(odd) .time{
    text-align: center;
    min-width: 100px;
    position:absolute;
    top:12px;
    left:-125px;
    margin:0;
    padding:8px 16px;
    background:rgba(233,33,99,1);
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li:nth-child(even) .tl-card-text{
/*    font-family: GalanoGrotesque !important;
*/    position:absolute;
    top:50px;
    right:-415px;
    margin:0;
    border-radius: 20px;
    border: none;
    padding: 1em;
    text-align: left;
    max-width: 400px;
    min-width: 210px;
}
.timeline ul li:nth-child(odd) .tl-card-text{
/*    font-family: GalanoGrotesque !important;
*/  position:absolute;
    top:50px;
    left:-415px;
    margin:0;
    border-radius: 20px;
    border: none;
    padding: 1em;
    text-align: right;
    max-width: 400px;
    min-width: 210px;
}

@media(max-width:1000px){
    .timeline{
        width:100%;
    }
}

/*fix for tablet view*/
@media (min-width:768px) and (max-width:868px) {

    .timeline ul li:nth-child(even) .tl-card-text{
        right:-385px;
        max-width: 370px;
    }

    .timeline ul li:nth-child(odd) .tl-card-text{
        left:-385px;
        max-width: 370px;
}

}

@media(max-width:767px){

    #timeline h2{
        margin-bottom: 3rem;
    }

    .timeline{
        width:100%;
        padding-bottom:0;
    }

    .timeline:before{
        left:20px;
        height:100%;
    }
    .timeline ul li:nth-child(even),
    .timeline ul li:nth-child(odd){
        width:100%;
        text-align:left;
        padding-left:50px;
        padding-bottom: 100px;
        
    }
    .timeline ul li:nth-child(even):before,
    .timeline ul li:nth-child(odd):before{
        top:-18px;
        left:16px;
    }
    .timeline ul li:nth-child(even) .time,
    .timeline ul li:nth-child(odd) .time{
        top:-30px;
        left:50px;
        right:inherit;
        
    }
    .timeline ul li:nth-child(even) .tl-card-text,
    .timeline ul li:nth-child(odd) .tl-card-text{
        display: none;
        text-align: left;
        top:400px;
        left:40px;
        right:inherit;
        padding-top: 20px;

    }

    .tl-card{
        margin-top: 0.5rem;
    }
    .tl-card-text{
        margin-top: 0.5rem;
    }
}